<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.aub.mobilebanking.wallet" version="1.0.0">
    <name>AUB Wallet Plugin</name>
    <js-module src="www/AUBWallet.js" name="AUBWallet">
        <clobbers target="AUBWallet" />
    </js-module>

    <platform name="ios">
        <hook type="after_prepare" src="hooks/configure_extensions.js" />
        
        <config-file target="config.xml" parent="/*">
            <feature name="AUBWalletPlugin"><param name="ios-package" value="AUBWalletPlugin" /></feature>
        </config-file>

        <source-file src="src/ios/AUBWalletPlugin.swift" />
        <source-file src="src/ios/WNonUIExt/WNonUIExtHandler.swift" />
        <source-file src="src/ios/WNonUIExt/Models/AppGroupManager.swift" />
        <source-file src="src/ios/WNonUIExt/Models/SharedModels.swift" />
        <source-file src="src/ios/WUIExt/WUIExtHandler.swift" />
        <source-file src="src/ios/WUIExt/WUIExtView.swift" />

        <resource-file src="src/ios/WNonUIExt/Info.plist" target-dir="WNonUIExt" />
        <resource-file src="src/ios/WNonUIExt/WNonUIExt.entitlements" target-dir="WNonUIExt" />
        <resource-file src="src/ios/WUIExt/Info.plist" target-dir="WUIExt" />
        <resource-file src="src/ios/WUIExt/WUIExt.entitlements" target-dir="WUIExt" />
        <resource-file src="src/ios/kfh_card_art.png" />

        <resource-file src="src/ios/profiles/com.aub.mobilebanking.uat.bh.WNonUI.mobileprovision" />
        <resource-file src="src/ios/profiles/com.aub.mobilebanking.uat.bh.WUI.mobileprovision" />

        <framework src="PassKit.framework" />
        <framework src="SwiftUI.framework" />
    </platform>
</plugin>
