<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.aub.wallet.issuer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
<name>KFH Wallet Extension Plugin</name>
<js-module name="KFHWallet" src="www/KFHWallet.js">
<clobbers target="KFHWallet" />
</js-module>
<platform name="ios">
<config-file target="config.xml" parent="/*">
<feature name="KFHWalletPlugin">
<param name="ios-package" value="KFHWalletPlugin" />
</feature>
</config-file>
<config-file target="*/Entitlements-Release.plist" parent="com.apple.security.application-groups">
<array>
<string>group.com.aub.mobilebanking.uat.bh</string>
</array>
</config-file>
<config-file target="*/Entitlements-Debug.plist" parent="com.apple.security.application-groups">
<array>
<string>group.com.aub.mobilebanking.uat.bh</string>
</array>
</config-file>
<!-- <source-file src="src/ios/KFHWalletPlugin.swift" />  -->
<extension-target name="KFHNonUI" identifier="com.aub.mobilebanking.uat.bh.wallet.ext" type="issuer-provisioning-non-ui">
<source-file src="src/ios/KFHWalletHandler.swift" />
<resource-file src="src/ios/kfh_card_art.png" />
<config-file target="*/Entitlements-Release.plist" parent="com.apple.security.application-groups">
<array>
<string>group.com.aub.mobilebanking.uat.bh</string>
</array>
</config-file>
</extension-target>
<extension-target name="KFHUI" identifier="com.aub.mobilebanking.uat.bh.wallet.ui" type="issuer-provisioning-ui">
<source-file src="src/ios/KFHUIHandler.swift" />
<config-file target="*/Entitlements-Release.plist" parent="com.apple.security.application-groups">
<array>
<string>group.com.aub.mobilebanking.uat.bh</string>
</array>
</config-file>
</extension-target>
<preference name="SwiftVersion" value="5.0" />
<preference name="deployment-target" value="13.0" />
</platform>
</plugin>
 



